{% extends "layout.html" %}

{% block head %}
    <title>
        Filter
    </title>
{% endblock %}

{% block body %}
<center>admin
<h1 class="display-4">image selection and filter</h1>
    <div class="row row-cols-3 row-cols-md-3">
      {% for img in images %}
        <div class="col">
          <div class="card">
            <img src="/static/img/uploads/{{img}}" class="card-img-top" alt="...">
          </div>
        </div>
      {% endfor %}
        <a href="/upload-image">
          <div class="col">
            <div class="card">
              <img src="/static/img/file-upload.png" class="card-img-top" alt="...">
            </div>
          </div>
        </a>
</div>

<h6>other bullshit goes here</h6>
</center>
{% endblock %}