{% extends "layout.html" %}

{% block head %}
    <title>
        Filter
    </title>
    <script>
         function apply(Img){
             document.getElementById('myImage')
             .src=Img;
             document.getElementById('dwnld')
             .href=Img;
         }
      </script>
{% endblock %}

{% block body %}

          <h1 class="display-4">Choose your Filter</h1>
            <hr>

          <p>
            <img id="myImage" class="card-img-top" src="static/img/filtered/1.png" width="80%" height="80%">
              <br><br>

            <a id="dwnld" href="static/img/filtered/1.png" class="btn btn-primary my-2" download>Download</a>
          </p>
            <hr>



            <div class="row row-cols-9 row-cols-md-9 ">
              {% for i in range(1,10) %}
                    <div class="col">

                        <img class="card-img-top" src="static/img/filtered/{{i}}.png" alt="Card image cap"height="40%">
                        <div class="card-body">
                          <p class="card-text">{{names[i-1]}}</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary" onclick="apply('static/img/filtered/{{i}}.png');">Apply</button>

                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
            <hr>



{% endblock %}


