{% extends "layout.html" %}

{% block head %}
    <title>
        Filtr
    </title>
{% endblock %}

{% block body %}
<center>
<h1 class="display-4">Welcome to <strong>Filtr</strong></h1>
    <hr>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/img/banners/banner3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/img/banners/banner2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/img/banners/banner1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
    <hr>
    <br>
    <br>
<h4 class="display-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In fermentum posuere urna nec tincidunt praesent semper. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. Ac tincidunt vitae semper quis lectus nulla at volutpat. Augue eget arcu dictum varius duis at consectetur. Eget gravida cum sociis natoque penatibus et magnis dis. Tincidunt tortor aliquam nulla facilisi cras fermentum odio. Odio ut enim blandit volutpat maecenas. Dignissim suspendisse in est ante in. Eu turpis egestas pretium aenean pharetra magna ac placerat. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Risus in hendrerit gravida rutrum quisque non tellus. Turpis massa sed elementum tempus egestas sed sed risus.

<br><br>Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Congue quisque egestas diam in arcu cursus euismod quis viverra. Iaculis nunc sed augue lacus. Ultricies integer quis auctor elit sed. Lectus quam id leo in vitae turpis. Id diam maecenas ultricies mi. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Tortor aliquam nulla facilisi cras. Ornare lectus sit amet est placerat in egestas. Turpis tincidunt id aliquet risus feugiat in. Interdum velit euismod in pellentesque massa. Morbi leo urna molestie at elementum eu. Integer quis auctor elit sed vulputate mi sit amet mauris. Ullamcorper a lacus vestibulum sed arcu non odio. Dapibus ultrices in iaculis nunc sed. Etiam erat velit scelerisque in dictum non consectetur a. Cras tincidunt lobortis feugiat vivamus at augue. Parturient montes nascetur ridiculus mus mauris vitae. Dictum sit amet justo donec enim diam vulputate ut. Turpis massa sed elementum tempus egestas sed sed risus.

<br><br>Sit amet dictum sit amet justo donec enim diam. Sit amet mattis vulputate enim nulla aliquet. Ante in nibh mauris cursus mattis. Arcu cursus vitae congue mauris. Enim facilisis gravida neque convallis a cras semper auctor. Egestas integer eget aliquet nibh. Tellus orci ac auctor augue mauris augue neque gravida. Ut tristique et egestas quis ipsum suspendisse. Ac auctor augue mauris augue neque gravida in fermentum et. Neque volutpat ac tincidunt vitae semper quis lectus. Nam libero justo laoreet sit. Id diam maecenas ultricies mi eget mauris pharetra. Blandit aliquam etiam erat velit scelerisque. Eu mi bibendum neque egestas congue quisque egestas diam. Eu sem integer vitae justo eget magna fermentum. Blandit cursus risus at ultrices. Sed euismod nisi porta lorem mollis.
</h4>
</center>
{% endblock %}
