{% extends "layout.html" %}

{% block head %}
    <title>
        Login
    </title>
{% endblock %}

{% block body %}
<h1 class="display-4">Login</h1>
<hr>
<br>
<form action="/login" method="post">
  <div class="form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
    <br>
  <div class="form-group">
    <input
      class="form-control"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
    <br>
  <button class="btn btn-primary" type="submit">Log In</button>
</form>
{% endblock %}
