{% extends "layout.html" %}

{% block head %}
    <title>
        Login
    </title>
{% endblock %}

{% block body %}
<h1 class="display-4">Register</h1>
<hr>
<br>
<form action="/register" method="post">
  <div class="form-group">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="name"
      placeholder="Name"
      type="text"
    />
  </div>
  <br>
  <div class="form-group">
    <input
      autocomplete="off"
      class="form-control"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <br>
  <div class="form-group">
    <input
      class="form-control"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
  <br>
  <div class="form-group">
    <input
      class="form-control"
      name="confirmation"
      placeholder="Confirm Password"
      type="password"
    />
  </div>
  <br>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
