{% extends "layout.html" %}

{% block head %}
    <title>
        Upload
    </title>
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1 class="display-4">Upload an image</h1>
      <hr>

      <form action="/upload-image" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <label class="formFileLg" for="image">Select image</label>
            <input class="form-control" type="file" name="image" id="image">
          </div>
        </div>
        <br><Br>
        <center>
        <button type="submit" class="btn btn-primary btn-lg">Upload</button>
        </center>
      </form>

    </div>
  </div>
</div>

{% endblock %}